.scrollable {
    max-height: 200px;
    overflow-y: visible;
    overflow-x: hidden;
}
div.badge {
    display: inline;
    margin-left: 5px;
 }

div.market-headers strong{
    vertical-align: middle;
 }